alembic==1.8.1
APScheduler==3.9.1.post1
async-timeout==4.0.2
blinker==1.5
captcha==0.3
click==8.1.3
Flask==2.0.2
Flask-APScheduler==1.12.2
Flask-DebugToolbar==0.11.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
flask-marshmallow==0.14.0
Flask-Migrate==3.1.0
Flask-Reuploaded==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-Uploads==0.2.1
gevent==22.10.2
greenlet==2.0.1
gunicorn==20.1.0
importlib-metadata==5.1.0
itsdangerous==2.0.1
Jinja2==3.1.2
Mako==1.2.4
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-sqlalchemy==0.26.1
packaging==22.0
Pillow==8.2.0
psutil==5.8.0
PyMySQL==1.0.2
python-dateutil==2.8.2
python-dotenv==0.19.1
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
redis==4.4.0
six==1.16.0
SQLAlchemy==1.4.45
sqlparse==0.4.2
tzdata==2022.7
tzlocal==4.2
webargs==8.0.1
Werkzeug==2.0.3
zipp==3.11.0
zope.event==4.6
zope.interface==5.5.2
bs4==0.0.1
r-useragent==0.1.1
requests==2.28.2
xlsxwriter==3.0.7
xlwt==1.3.0
xlrd==2.0.1
et-xmlfile==1.1.0
openpyxl==3.0.10
pyquery==2.0.0
pyOpenSSL==23.0.0